body {
    background-color: lightcyan;
    font-family: 'Get Schwifty', cursive;    
    font-size: 25px;
}

h1 {
    color: aquamarine;
    font-size: 22px;
        text-align: center;
}

button {
    font-size: 25px;
}
